**.venv
**.vscode/
**.devcontainer/
**dist/
**__pycache__/
**.egg-info/
**.idea/
**.json
**.hex
**.bin
**-ubyte
**.gz
**.pth
**cmake-build-*/
**build/
**_version.py
**.cache
**Modelenums.h
**Modelstructs.h
**Modeltypes.h
**.code-workspace