**.venv
**.vscode/
**.devcontainer/
**dist/
**__pycache__/
**.egg-info/
**.idea/
**.json
**.hex
**.bin
**-ubyte
**.gz
**.pth
**cmake-build-*/
**build/
**_version.py
**.cache
**model.hex
**model_trainable.hex
**model_enums.h
**model_structs.h
**model_types.h
**.code-workspace